# Build outputs
build/
**/build/

# Gradle
.gradle/
**/.gradle/

# Local properties (secrets)
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/runConfigurations/

# macOS
.DS_Store

# Captures
/captures

# Native
.externalNativeBuild
.cxx

# Keystore
*.jks
*.keystore
